<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 ma-t-50">
      <%= render "users/user_info", user: @user %>
    </div>
    <div class="col-lg-8 ma-t-50">
      <div class="title">
        <h1 class="font-50 center">Favolite Post List</h1>
      </div>
      <% if @likes.any? %>
        <% @likes.each do |like| %>     
          <%= render "posts/posts_index", post: like.post %>
        <% end %>
      <% else %>
        <p class="ma-t-30 center">お気に入り投稿はまだありません</p>
      <% end %>
    </div>
  </div>
</div>