<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="title ma-t-50">
        <h1 class="font-30 pa-20">プロフィール編集</h1>
      </div>
      <div class="box">
        <%= render "users/profile_form" %>
      </div>
    </div>
  </div>
</div>