<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 ma-t-50">
      <%= render "users/user_info", user: current_user %>
    </div>
    <div class="col-lg-8 ma-t-50">
      <div class="users-box">
        <div class="title pa-20">
          <h1 class="center font-50">User List</h1>
        </div>
        <%= render partial: "users/user_index", locals: {users: @users} %>
      </div>
    </div>
  </div>
</div>