<div class="container">
  <div class="row ma-t-50">
    <div class="col-lg-8 offset-lg-2">
      <div id="title" class="title ma-t-50">
        <h1 class="font-30">スケジュール登録</h1>
      </div>

      <div class="schedule-form ma-t-30 box">
        <%= render "schedules/schedule_form", schedule: @schedule %>
      </div>
    </div>
  </div>
</div>
