<div class="container">
  <div class="about-title-box">
    <h1 class="about-title">PeAlco</h1>
    <div class="about-top-message center">
      <h1 class="pa-30">origins</h1>
      <p class="about-top-content_origin">
        酒と料理の食べ合わせを投稿するアプリとして、『Pairing x Alchole』。<br>
      </p>
      <h1 class="pa-30">target</h1>
      <p class="about-top-content_target">
        お酒が好きな人はもちろんのこと、お酒好きでおつまみに何を作ろうか悩んでいる方など幅広い方にお使いいただけます。<br>
        仕事中にふと、帰った後の楽しみをこのアプリで見つけてみましょう。
      </p>
      <h1 class="pa-30">background</h1>
      <p class="about-top-content_background">
        IT化により仕事はテレワーク化が進み、オンライン上で仕事が完結してしまう時代となってきました。<br>
        その影響は、お酒の席にも及び、居酒屋に行かなくてもオンライン上でテレビ電話を通じて飲み会が開かれ、<br>
        各々が好きなお酒やおつまみを自分で用意し、好きなペースでくつろぎながら飲むスタイルも一般化してきています。<br>
        そこで、お酒好きの人たちがそれぞれがどんなおつまみを用意しているか共有し、<br>
        新たな飲み友達を見つける一種のツールとして、このアプリを利用していただけたらと思います。
      </p>
    </div>
  </div>
  <div class="main-image-box"></div>
  <div class="row about-main-content ma-t-50">
    <div class="about-content-item wid-100">
      <div class="content-title">
        <h3 class="about-sub-title">『酒』x『料理』</h3>
      </div>
      <hr>
      <div class="about-content-box dis-flex-box">
        <div class="content-image">
          <%= image_tag "haikara.jpg" %>
        </div>
        <div class="content-text">
          <p>
            投稿される様々な酒と料理の組み合わせ。<br>
            定番のメニューから意外な組み合わせまで様々な投稿があります。<br>
            仕事の合間に検索して、帰った後の楽しみを作るお手伝いを。<br>
            自分で投稿して、自分オリジナルの組み合わせを発信しよう！！
          </p>
        </div>
      </div>
    </div>
    <div class="about-content-item">
      <div class="content-title">
        <h3 class="about-sub-title">飲み友</h3>
      </div>
      <hr>
      <div class="about-content-box row">
        <div class="content-text col-lg-7">
          <p>
            お酒好きのためのSNS！<br>
            お酒の投稿に絞っていることからも、お酒好きの人ばかり集まります。<br>
            気に入った投稿をお気に入り登録したり、コメントを残したり、DMを送ることもできます。<br>
            アプリを利用して、新しい飲み友を新しい探し方で見つけてみませんか？
          </p>
        </div>
        <div class="center content-image col-lg-5">
          <%= image_tag "comunication.jpg" %>
        </div>
      </div>
    </div>
    <div class="about-content-item">
      <div class="content-title">
        <h3 class="about-sub-title">スケジュール管理</h3>
      </div>
      <hr>
      <div class="about-content-box row">
        <div class="content-image col-lg-5">
          <%= image_tag "schedule.jpg" %>
        </div>
        <div class="content-text col-lg-7">
          <p>
            PeAlcoでは、カレンダーの機能がついているので予定を管理できます。<br>
            飲み会など、お酒関係の予定はこのアプリ一本で管理しちゃいましょう。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-image-box center">
    <%= image_tag "online.jpg" %>
  </div>
  <div class="about-message-box">
    <h1 class="about-title">message</h1>
    <div class="about-message-content">
      <p>
        2020年、コロナウイルスの関係で甚大なる影響を受けられた居酒屋をはじめ、<br>
        飲食関係者の皆様におかれましては心よりお見舞い申し上げます。<br>
        飲み会のオンライン化の波が押し寄せている中で、<br>
        やはり居酒屋の雰囲気を味わいたく日常をいち早く取り戻し、<br>
        居酒屋でいつものように飲みたいと願っている人も多いはずです。<br>
        厳しい時代に突入し、今まで通りとはいかないかもしれませんが<br>
        今後飲食業界のますますの発展をお祈りしております。
      </p>
    </div>
  </div>
</div>
