<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="message-header dis-flex-box border-bottom">
        <h1><%= communication_user_name(@room.users) %></h1>
        <h1>
          <%= link_to :back do %>
            <i class="fas fa-arrow-circle-left" style="color:#aaa"></i>
          <% end %>
        </h1>
      </div>
      <hr>
      <div id="messages" class="pa-x-50 message-box">
        <%= render @messages %>
      </div>
      <div class="chat-input-box">
        <hr>
        <div class="chat-input-form">
          <input type="text" id="chat_input" class="form-control">
        </div>
        <div class="chat-input-btn ma-t-20 center">
          <input type="submit" id="chat_btn" class="btn btn-primary wid-80">
        </div>
      </div>
    </div>
  </div> 
</div>
<script>
  window.onload = function scrollBottom() {
    var elementHtml = document.documentElement;
    var bottom = elementHtml.scrollHeight - elementHtml.clientHeight;
    window.scroll(0, bottom);
  }
</script>