<div class="category wid-90 ma-a">
  <div class="category-list-box box center pa-b-20">
    <h1 class="font-30">Category</h1>
    <% @alc_categories.each do |category| %>
      <div class="ma-b-20 dis-flex-box">
        <div class="dis-ib"><%= image_tag category.image.thumb50.to_s %>　<%= link_to category.name, posts_path(alc_category_id: category.id) %></div>
        <div class="pa-t-10">(<%= category.posts.count %>)</div>
      </div>
      <hr>
    <% end %>
  </div>
</div>