<div class="container">
  <div class="row">
    <div class="col-6 offset-3 ma-t-50">
      <div id="title" class="title ma-t-50">
        <h1 class="font-30">投稿編集</h1>
      </div>
      <div class="box">
        <%= render "posts/posts_form", btn_title: "編集" %>
      </div>
    </div>
  </div>
</div>