<div class="container">
  <div class="row">
    <div class="col-4 ma-t-50">
      <%= render "posts/category_index" %>
    </div>
    <div class="col-8 ma-t-30">
      <div class="title pa-20 center">
        <h１ class="font-30">投稿一覧</h１>
        <h2 class="font-20"></h2>
      </div>
      <%= render "posts/posts_index", posts: @posts %>
    </div>
  </div>
</div>