<div class="container">
  <div class="row">
    <div class="col-4 ma-t-50">
      <%= render "posts/category_index" %>
    </div>
    <div class="col-8 ma-t-30">
      <div id="title" class="title">
        <h１ class="font-30">投稿一覧</h１>
      </div>
      <% if @posts.any? %>
        <% @posts.each do |post| %>  
          <%= render "posts/posts_index", post: post %>
        <% end %>
      <% else %>
        <p class="ma-t-30 center">投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>