// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show

.post-box-image {
  width: 100%;
  .image-item-alc {
    text-align: center;
  }
  .image-item-menu {
    text-align: center;
  }
}

.image-box {
  border-radius: 20px;
  background-color: white;
}

.recommend-link {
  text-decoration: none;
}
